{%extends 'ajax_crud/base.html' %}
{% load static %}


{%block title%}
    Register 
{%endblock %}
   
    <body>
        {%block content%}
         
        <div>
          <form method="POST" action="{% url 'ajax_crud:register' %}" class="visitor_form">
              {%csrf_token%}
              <div class="container"> 
                            <div class="row">
                                    <div class="col col-2"> Name : </div><div class="col col-4">   {{form.name}} </div> 
                            </div><br/>
                            <div class="row">
                                    <div class="col col-2"> Password : </div> <div class="col col-4">  {{form.password}}  </div>   
                            </div>
                            <input type="submit" value="Submit">
              </div>

          </form>
        </div>

            {%endblock%}

            <script>
                 
               $(document).on('submit','.visitor_form',function(e){
                        //e.preventDefault();
                        console.log('method called')
                        $.ajax({
                                type:'POST',
                                url : '/',
                                dataType: 'json',
                                async : true,
                                data:{ 
                                        csrfmiddlewaretoken :$('input[name=csrfmiddlewaretoken]').val(),
                                        name : $('#my_name').val(),
                                        password : $('#my_pass').val(),
                                       
                                        
                                },
                                
                                success : function(){
                                   console.log('data submitted successfully')
                                },
                                error : function(){
                                    console.log('failed to submit data');
                                }

                        });


               })
                
            </script>
    </body>
</html>


