{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="{% static 'student/css/bootstrap.css'%}" rel="stylesheet">
        <link href="{% static 'student/css/bootstrap-grid.css'%}" rel="stylesheet">
        <link href="{% static 'student/css/bootstrap-reboot.css'%}" rel="stylesheet">
        <link href="{% static 'student/css/main.css'%}" rel="stylesheet">
        <script src="{% static 'student/js/jquery-3.3.1.js' %}"></script>
        <script src="{% static 'student/js/popper.min.js' %}"></script>
        <script src="{% static 'student/js/bootstrap.js' %}"></script>
    </head>
    <body>
        <div class="container">
            <table class="table table-striped table-bordered">
                    <thead>
                        <tr class="thead-dark">
                            <th scope="col">Id</th>
                            <th scope="col">Name</th>
                            <th scope="col">Date</th>
                            <th scope="col">Score</th>
                            <th scope="col">Actions</th>
                          </tr>
                          
                    </thead>
                    <tbody>
                    {% for s in students %}
                     
                    <tr>
                      <td>{{s.sid}}</td>
                      <td>{{s.name}}</td>
                      <td>{{s.grad_date}}</td>
                      <td>{{s.score}}</td>
                      <td > 
                        <a href="{% url 'student:update' s.sid %}"><button class="form-control-sm btn-primary ">Edit</button></a>&nbsp;&nbsp;
                          <a href="{% url 'student:delete' s.sid %}"><button class="form-control-sm btn-danger ">Delete</button></a>
                      </td>
                    </tr>
                    
                    {% endfor %}
                </tbody>
            </table>
            <a href="{% url 'student:register' %}" class="btn btn-primary">Add New Record</a>
            
</div>
    </body>
</html>